div(ng-controller='QuestionAnswerCtrl as vm')
  .container
    .row
      .col-lg-2
      .col-lg-8
        div
          br
          form(ng-show="vm.isLoggedIn()" name='form', ng-submit='vm.addQuestion(form)', novalidate='')
            label Share your questions in realtime
            .form-group(ng-class='{ "has-success": form.text.$valid && vm.submitted, "has-error": form.text.$invalid && vm.submitted }')
              textarea.form-control.textareaResizeNone(type='textarea', name='text', placeholder='Write your question here ...', ng-model='vm.newQuestionAnswer.text', maxlength="200", rows="2" required)
              span.color-blue.right {{200 - vm.newQuestionAnswer.text.length}} characters left
              p.help-block(ng-show='form.text.$error.required && vm.submitted')
                | What's the question?
            div
              button.btn.btn-success(type='submit' ng-click='vm.states[0].active = true') Ask

        h1.align-center Questions Backlog
        br
        div.btn-group.right(uib-dropdown, ng-show='vm.isLoggedIn()')
          button.btn.btn-primary(uib-dropdown-toggle, id="split-button") Sorted by {{vm.sortCriterionLabel}}
            span.caret
          ul.uib-dropdown-menu(aria-labelledby="split-button")
            li
              a(href='#', ng-click='vm.sortCriterion = "date"; vm.sortReverse = true; vm.sortCriterionLabel = "date (newest first) "') Date (newest first)
            li
              a(href='#', ng-click='vm.sortCriterion = "date"; vm.sortReverse = false; vm.sortCriterionLabel = "date (oldest first) "') Date (oldest first)
            li.divider
            li
              a(href='#', ng-click='vm.sortCriterion = "averageRating"; vm.sortReverse = true; vm.sortCriterionLabel = "best average rated "') Best average rated
            li
              a(href='#', ng-click='vm.sortCriterion = "averageRating"; vm.sortReverse = false; vm.sortCriterionLabel = "worst average rated "') Worst average rated
            li.divider
            li
              a(href='#', ng-click='vm.sortCriterion = "totalStarCount"; vm.sortReverse = true; vm.sortCriterionLabel = "stars (High to Low) "') Stars (High to Low)
            li
              a(href='#', ng-click='vm.sortCriterion = "totalStarCount"; vm.sortReverse = false; vm.sortCriterionLabel = "stars (Low to High) "') Stars (Low to High)
            li.divider
            li
              a(href='#', ng-click='vm.sortCriterion = "raterCount"; vm.sortReverse = true; vm.sortCriterionLabel = "most rated "') Most rated
            li
              a(href='#', ng-click='vm.sortCriterion = "raterCount"; vm.sortReverse = false; vm.sortCriterionLabel = "least rated "') Least rated
            li.divider
            li
              a(href='#', ng-click='vm.sortCriterion = "author"; vm.sortReverse = false; vm.sortCriterionLabel = "author (A-Z) "') Author (A-Z)
            li
              a(href='#', ng-click='vm.sortCriterion = "author"; vm.sortReverse = true; vm.sortCriterionLabel = "author (Z-A) "') Author (Z-A)
        br
        br
        br
        uib-tabset.color-blue(justified="true")
          uib-tab(ng-repeat="state in vm.states.slice(0,2)", heading="{{state.value}}", active="state.active")
            br
            div.nav.nav-stacked(ng-show="0 == (vm.questionAnswers | filter:vm.showQuestionFilter).length")
              .align-center
                b There isn't any questions {{state.value.toLowerCase()}}.

            div(ng-show="0 != (vm.questionAnswers | filter:vm.showQuestionFilter).length")
              progressbar(ng-class="vm.timer.progressBarActive ? 'progress-striped active' : ''" value="vm.timer.seconds" type="{{vm.timer.color}}" max="vm.maxSeconds")
                b {{vm.timer.text}}

            div.nav.nav-tabs.nav-stacked.padding8(ng-class="{'greenBackground': questionAnswer.state == vm.states[2].value, 'yellowBackground': vm.allowedToRate(questionAnswer)}", ng-repeat="questionAnswer in vm.questionAnswers | filter:vm.showQuestionFilter | orderBy:[vm.getFirstSortCriterion, vm.getSecondSortCriterion, vm.getThirdSortCriterion, vm.getFourthSortCriterion, vm.getFifthSortCriterion]:vm.sortReverse")
              include questionRow.jade
              .row
                .col-md-10
                  | {{questionAnswer.text}}
                .col-md-2
                  button.close(ng-show='vm.allowedToDelete(questionAnswer)', type='button', ng-click='vm.deleteQuestion(questionAnswer.text, questionAnswer)')
                    span.padding2(class="glyphicon glyphicon-trash" aria-hidden="true")
                  button.close(ng-show='questionAnswer.state == vm.states[2].value && vm.isAdmin()', type='button', ng-click='vm.setAnswered(questionAnswer)', ng-disabled="!vm.isLoggedIn()")
                    span.padding2(class="glyphicon glyphicon-ok" aria-hidden="true")
                  button.close(ng-show='questionAnswer.state==vm.states[0].value && vm.isAdmin() && !vm.timer.isRunning && (vm.timer.seconds == vm.maxSeconds + 1 || vm.timer.seconds == 0)', type='button', ng-click='vm.setCurrent(questionAnswer)', ng-disabled="!vm.isLoggedIn()")
                    span.padding2(class="glyphicon glyphicon-play-circle" aria-hidden="true")

    .col-lg-2
