.glyphicon-star, .glyphicon-star-empty {
  color:orange;
}

.greenBackground {
  background-color:#DBF7D6;
}

.yellowBackground {
  background-color:#FFFFCC;
}

.lightyellowBackground {
  background-color:#FFFFE0;
}

.align-center {
  text-align: center;
}

.updateStateModal .modal-dialog {
  width: 750px;
}

.right {
  float: right;
}

.color-blue {
  color: #428bca;
}

.padding2 {
  padding: 2px;
}

.padding8 {
  padding: 8px;
}

.textareaResizeNone {
  resize: none;
}

.progress-striped span {
  position: absolute;
  display: block;
  width: 95%;
  color: black;
}

.progress-striped span.colorWhite {
  color: white;
}
