div.navbar.navbar-default.navbar-static-top(ng-controller='NavbarCtrl')
  div.container
    div.navbar-header
      button.navbar-toggle(type='button', ng-click='isCollapsed = !isCollapsed')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') Teamtool

    div#navbar-main.navbar-collapse.collapse(collapse='isCollapsed')
      ul.nav.navbar-nav
        li(ng-repeat='item in menu', ng-class='{active: isActive(item.link)}')
          a(ng-href='{{item.link}}') {{item.title}}

      ul.nav.navbar-nav.navbar-right
        li(ng-hide='isLoggedIn()', ng-class='{active: isActive("/signup")}')
          a.signup(href='/signup') Sign up

        li(ng-hide='isLoggedIn()', ng-class='{active: isActive("/login")}')
          a.login(href='/login') Login

        li(ng-show='isLoggedIn()')
          p.navbar-text Hello {{ getCurrentUser().username }}

        li.dropdown(ng-show='isLoggedIn()')
          a.dropdown-toggle(href='#', data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false")
            span.glyphicon.glyphicon-cog
            span.caret

          ul.dropdown-menu
            li(ng-show='isLoggedIn()', ng-class='{active: isActive("/settings")}')
              a(href='/settings') Change Password

            li(ng-show='isAdmin()', ng-class='{active: isActive("/admin")}')
              a(href='/admin') Admin


        li(ng-show='isLoggedIn()', ng-class='{active: isActive("/logout")}')
          a.logout(href='', ng-click='logout()') Logout
