div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    //h1 Teamtool
    p.lead From apprentice over journeyman to master
    img(src='assets/images/logo.png', alt='Agile Moves')

.container
  .row
    .col-lg-2
    .col-lg-8
    .col-lg-2


footer.footer
  .container
    p
      | Teamtool V0.1
      = ' | '
      a(href='https://github.com/Teamtool/teamtool-mean.git') Github
      = ' | '
      a(href='https://github.com/Teamtool/teamtool-mean/issues') Issues
