div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    //h1 Teamtool
    p.lead From apprentice over journeyman to master
    img(src='assets/images/logo.png', alt='Agile Moves')

.container
  .row
    .col-lg-2
    .col-lg-8
      form.thing-form
        label Share your ideas in realtime with your team
        p.input-group
          input.form-control(type='text', placeholder='Add a new idea here.', ng-model='newThing')
          span.input-group-btn
            button.btn.btn-primary(type='submit', ng-click='addThing()') Add New

      h1.page-header Ideas:
      ul.nav.nav-tabs.nav-stacked(ng-repeat='thing in awesomeThings')
        li
          a(href='#', tooltip='{{thing.info}}')
            | {{thing.name}}
            button.close(type='button', ng-click='deleteThing(thing)') ×
    .col-lg-2


footer.footer
  .container
    p
      | Teamtool V0.1
      = ' | '
      a(href='https://github.com/Teamtool/teamtool-mean.git') Github
      = ' | '
      a(href='https://github.com/Teamtool/teamtool-mean.git/issues?state=open') Issues
