div(ng-include='"app/navbar/navbar.html"')

header#banner.hero-unit
  .container
    p.lead From apprentice over journeyman to master
    img(src='assets/images/logo.png', alt='Agile Moves')

footer.footer
  .container
    p
      | Teamtool V0.1
      = ' | '
      a(href='https://github.com/Teamtool/teamtool-mean.git') Github
      = ' | '
      a(href='https://github.com/Teamtool/teamtool-mean/issues') Issues
