div(ng-include='"app/navbar/navbar.html"')

.container
  .row
    .col-lg-2
    .col-lg-8
      button.btn.btn-default(ng-show="isLoggedIn()", type="button", ng-class="{'btn-success': isCollapsed, 'btn-danger': !isCollapsed}", ng-click="isCollapsed = !isCollapsed") {{ideaFormToggleText}}
      div(uib-collapse="isCollapsed")
        br
        form(name='form', ng-submit='addIdea(form)', novalidate='')
          label Share your ideas in realtime with your team
          .form-group(ng-class='{ "has-success": form.title.$valid && submitted, "has-error": form.title.$invalid && submitted }')
            input.form-control(type='text', name='title', placeholder='Add the title here.', ng-model='newIdea.title', required)
            p.help-block(ng-show='form.title.$error.required && submitted')
              | What's the title?

          .form-group(ng-class='{ "has-success": form.description.$valid && submitted, "has-error": form.description.$invalid && submitted }')
            textarea.form-control(type='textarea', name='description', placeholder='Add the description here.', ng-model='newIdea.description', required)
            p.help-block(ng-show='form.description.$error.required && submitted')
              | What's the description?

          .form-group(ng-class='{ "has-success": form.category.$valid && submitted, "has-error": form.category.$invalid && submitted }')
            select.form-control(style="width: 300px;", name='category', ng-model='newIdea.category', required)
              option(value="" disabled selected) Select the category
              option(ng-repeat="category in categories") {{category}}
            p.help-block(ng-show='form.category.$error.required && submitted')
              | What's the category?

          div
            button.btn.btn-primary(type='submit') Create Idea

      h1.align-center Ideas Backlog

      br

      div.btn-group.right(uib-dropdown, ng-show='isLoggedIn()')
        button.btn.btn-primary(uib-dropdown-toggle, id="split-button") Sorted by {{sortCriterionLabel}}
          span.caret
        ul.uib-dropdown-menu(aria-labelledby="split-button")
          li
            a(href='#', ng-click='sortCriterion = "date"; sortReverse = false; sortCriterionLabel = "date (newest first) "') Date (newest first)
          li
            a(href='#', ng-click='sortCriterion = "date"; sortReverse = true; sortCriterionLabel = "date (oldest first) "') Date (oldest first)
          li.divider
          li
            a(href='#', ng-click='sortCriterion = "getAverageRating(idea, false)"; sortReverse = false; sortCriterionLabel = "best average rated "') Best average rated
          li
            a(href='#', ng-click='sortCriterion = "getAverageRating(idea, false)"; sortReverse = true; sortCriterionLabel = "worst average rated "') Worst average rated
          li.divider
          li
            a(href='#', ng-click='sortCriterion = "raterCount"; sortReverse = false; sortCriterionLabel = "most rated "') Most rated
          li
            a(href='#', ng-click='sortCriterion = "raterCount"; sortReverse = true; sortCriterionLabel = "least rated "') Least rated
          li.divider
          li
            a(href='#', ng-click='sortCriterion = "totalRatingCount"; sortReverse = false; sortCriterionLabel = "most starred "') Most starred
          li
            a(href='#', ng-click='sortCriterion = "totalRatingCount"; sortReverse = true; sortCriterionLabel = "least starred "') Least starred
          li.divider
          li
            a(href='#', ng-click='sortCriterion = "category"; sortReverse = true; sortCriterionLabel = "category (A-Z) "') Category (A-Z)
          li
            a(href='#', ng-click='sortCriterion = "category"; sortReverse = false; sortCriterionLabel = "category (Z-A) "') Category (Z-A)
          li.divider
          li
            a(href='#', ng-click='sortCriterion = "author.username"; sortReverse = true; sortCriterionLabel = "author (A-Z) "') Author (A-Z)
          li
            a(href='#', ng-click='sortCriterion = "author.username"; sortReverse = false; sortCriterionLabel = "author (Z-A) "') Author (Z-A)

      br
      br
      br
      tabset(justified="true")
        tab(ng-repeat="state in states" heading="{{state.value}}")
          br
          div.nav.nav-stacked(ng-show="0 == (awesomeIdeas | filter: { state: state.value }).length")
            li
              a
                .row.align-center
                  b There isn't any idea {{state.value.toLowerCase()}}.

          ul.nav.nav-tabs.nav-stacked(ng-repeat="idea in awesomeIdeas | filter: { state: state.value } | orderBy:getSortCriterion():sortReverse")
            li(ng-class="{'to-be-rated': allowedToRate(idea) && isLoggedIn()}")
              a
                include ideaHeaderRow.jade

                button.close(ng-show='allowedToDelete(idea)', type='button', ng-click='deleteIdea(idea.name, idea)')
                  span(class="glyphicon glyphicon-trash" aria-hidden="true")
                button.close(ng-show='idea.state!=states[3].value && idea.state!=states[4].value', type='button', ng-click='openUpdateStateModal(states[4].value, idea)', ng-disabled="!isLoggedIn()")
                  span(class="glyphicon glyphicon-remove" aria-hidden="true")
                button.close(ng-show='idea.state==states[0].value', type='button', ng-click='openUpdateStateModal(states[1].value, idea)', ng-disabled="!isLoggedIn()")
                  span(class="glyphicon glyphicon-ok" aria-hidden="true")
                button.close(ng-show='idea.state==states[1].value', type='button', ng-click='openUpdateStateModal(states[2].value, idea)', ng-disabled="!isLoggedIn()")
                  span(class="glyphicon glyphicon-play-circle" aria-hidden="true")
                button.close(ng-show='idea.state==states[2].value', type='button', ng-click='openUpdateStateModal(states[3].value, idea)', ng-disabled="!isLoggedIn()")
                  span(class="glyphicon glyphicon-check" aria-hidden="true")

                include ideaBodyRow.jade


    .col-lg-2
footer.footer
  .container
    p
      | Teamtool V0.1
      = ' | '
      a(href='https://github.com/Teamtool/teamtool-mean.git') Github
      = ' | '
      a(href='https://github.com/Teamtool/teamtool-mean/issues') Issues


script(type="text/ng-template" id="updateStateModal")
  div.modal-header
    h3.modal-title Change the status of this idea to {{nextState.toLowerCase()}}?

  div.modal-body
    a
      include ideaHeaderRow.jade
      include ideaBodyRow.jade

  div.modal-footer
    button.btn.btn-primary(type="button" ng-click="modalInstance.close()") OK
    button.btn.btn-warning(type="button" ng-click="modalInstance.dismiss()") Cancel
