.row
  .col-md-6
    b {{idea.name}}

  .col-md-2
    | {{idea.author}}

  .col-md-2
    button.btn.btn-primary.btn-xs(type="button" disabled="disabled" ng-style="{'background-color':vm.getColor(idea)}") {{idea.category}}

  .col-md-2(align="right")
    div(ng-show='vm.allowedToRate(idea)')
      uib-rating(ng-model="idea.currentRating", max="5", on-leave='vm.addRating(idea)' readonly="vm.modalWindowOpen")
      | {{idea.raterCount}}
      br
      | ? / ? stars

    div(ng-show='(vm.isLoggedIn() && vm.isIdeaRatedOrCreatedByCurrentUser(idea)) || idea.state != vm.states[0].value')
      uib-rating(ng-init="averageRating = vm.getNumberFloored(idea.averageRating)", ng-model="averageRating", max="5", readonly="true")
      | {{idea.raterCount}}
      br
      | {{idea.averageRating}} / {{idea.totalStarCount}} stars

    div(ng-show='!vm.isLoggedIn() && idea.state == vm.states[0].value')
      uib-rating(ng-model="0", max="5", readonly="true")
      | {{idea.raterCount}}
      br
      | ? / ? stars

