div(ng-include='"components/navbar/navbar.html"')

.container
  .row
    .col-lg-2
    .col-lg-8
      form.thing-form
        label Share your ideas in realtime with your team
        .form-group
          input.form-control(type='text', placeholder='Add the title here.', ng-model='idea.title', required='')
        .form-group
          textarea.form-control(type='textarea', placeholder='Add the description here.', ng-model='idea.description', required='')

          //span.input-group-btn
        div
          button.btn.btn-primary(type='submit', ng-click='addIdea()') Create Idea

      h1.page-header Ideas Backlog
      tabset(justified="true")
        tab(ng-repeat="state in states" heading="{{state.title}}")

          ul.nav.nav-tabs.nav-stacked(ng-repeat="idea in awesomeIdeas | filter: { state: state.value } | orderBy:'-date'")
            li.idea(ng-class="{rate: allowedToRate(idea)}")
              a
                .row
                  .col-md-7
                    b.idea-name {{idea.name}}
                  .col-md-2.idea-name
                    | {{idea.author.username}}
                  .col-md-3(align="right", ng-mouseover="hoverIn()", ng-mouseleave="hoverOut()")
                    .to-review(ng-show='allowedToRate(idea)')
                      rating(ng-model="idea.rating", max="5", on-leave='addRating(idea)')
                      i  {{getVotes(idea)}}
                    .reviewed(ng-show='!allowedToRate(idea)')
                      rating(ng-model="getStarAverage(idea)", max="5", readonly="true")
                      i  {{getVotes(idea)}}
                    | {{getStarAverage(idea)}} / {{getStarSum(idea)}} stars

                button.close(ng-show='allowedToDelete(idea)', type='button', ng-click='deleteIdea(idea.name, idea)')
                  span(class="glyphicon glyphicon-trash" aria-hidden="true")
                button.close(type='button', ng-click='updateState("rejected", idea)')
                  span(class="glyphicon glyphicon-remove" aria-hidden="true")
                button.close(type='button', ng-click='updateState("accepted", idea)')
                  span(class="glyphicon glyphicon-ok" aria-hidden="true")

                .row
                  .col-md-10
                    i.idea-description {{idea.description}}


    .col-lg-2
footer.footer
  .container
    p
      | Teamtool V0.1
      = ' | '
      a(href='https://github.com/Teamtool/teamtool-mean.git') Github
      = ' | '
      a(href='https://github.com/Teamtool/teamtool-mean/issues') Issues
