
div(ng-controller='IdeaCtrl as vm')
  .container
    .row
      .col-lg-2
      .col-lg-8
        button.btn.btn-default(ng-disabled="!vm.isLoggedIn()", type="button", ng-class="{'btn-success': vm.isCollapsed, 'btn-danger': !vm.isCollapsed}", ng-click="vm.isCollapsed = !vm.isCollapsed") {{vm.ideaFormToggleText}}
        div(uib-collapse="vm.isCollapsed")
          br
          form(name='form', ng-submit='vm.addIdea(form)', novalidate='')
            label Share your ideas in realtime with your team
            .form-group(ng-class='{ "has-success": form.title.$valid && vm.submitted, "has-error": form.title.$invalid && vm.submitted }')
              input.form-control(type='text', name='title', placeholder='Add the title here.', ng-model='vm.newIdea.title', required)
              p.help-block(ng-show='form.title.$error.required && vm.submitted')
                | What's the title?

            .form-group(ng-class='{ "has-success": form.description.$valid && vm.submitted, "has-error": form.description.$invalid && vm.submitted }')
              textarea.form-control(type='textarea', name='description', placeholder='Add the description here.', ng-model='vm.newIdea.description', required)
              p.help-block(ng-show='form.description.$error.required && vm.submitted')
                | What's the description?

            .form-group(ng-class='{ "has-success": form.category.$valid && vm.submitted, "has-error": form.category.$invalid && vm.submitted }')
              select.form-control(style="width: 300px;", name='category', ng-model='vm.newIdea.category', required)
                option(value="" disabled selected) Select the category
                option(ng-repeat="category in vm.categories") {{category}}
              p.help-block(ng-show='form.category.$error.required && vm.submitted')
                | What's the category?

            div
              button.btn.btn-primary(type='submit' ng-click='vm.states[0].active = true') Create Idea

        h1.align-center Ideas Backlog
        br
        div.btn-group.right(uib-dropdown, ng-show='vm.isLoggedIn()')
          button.btn.btn-primary(uib-dropdown-toggle, id="split-button") Sorted by {{vm.sortCriterionLabel}}
            span.caret
          ul.uib-dropdown-menu(aria-labelledby="split-button")
            li
              a(href='#', ng-click='vm.sortCriterion = "date"; vm.sortReverse = true; vm.sortCriterionLabel = "date (newest first) "') Date (newest first)
            li
              a(href='#', ng-click='vm.sortCriterion = "date"; vm.sortReverse = false; vm.sortCriterionLabel = "date (oldest first) "') Date (oldest first)
            li.divider
            li
              a(href='#', ng-click='vm.sortCriterion = "averageRating"; vm.sortReverse = true; vm.sortCriterionLabel = "best average rated "') Best average rated
            li
              a(href='#', ng-click='vm.sortCriterion = "averageRating"; vm.sortReverse = false; vm.sortCriterionLabel = "worst average rated "') Worst average rated
            li.divider
            li
              a(href='#', ng-click='vm.sortCriterion = "totalStarCount"; vm.sortReverse = true; vm.sortCriterionLabel = "stars (High to Low) "') Stars (High to Low)
            li
              a(href='#', ng-click='vm.sortCriterion = "totalStarCount"; vm.sortReverse = false; vm.sortCriterionLabel = "stars (Low to High) "') Stars (Low to High)
            li.divider
            li
              a(href='#', ng-click='vm.sortCriterion = "raterCount"; vm.sortReverse = true; vm.sortCriterionLabel = "most rated "') Most rated
            li
              a(href='#', ng-click='vm.sortCriterion = "raterCount"; vm.sortReverse = false; vm.sortCriterionLabel = "least rated "') Least rated
            li.divider
            li
              a(href='#', ng-click='vm.sortCriterion = "category"; vm.sortReverse = false; vm.sortCriterionLabel = "category (A-Z) "') Category (A-Z)
            li
              a(href='#', ng-click='vm.sortCriterion = "category"; vm.sortReverse = true; vm.sortCriterionLabel = "category (Z-A) "') Category (Z-A)
            li.divider
            li
              a(href='#', ng-click='vm.sortCriterion = "author"; vm.sortReverse = false; vm.sortCriterionLabel = "author (A-Z) "') Author (A-Z)
            li
              a(href='#', ng-click='vm.sortCriterion = "author"; vm.sortReverse = true; vm.sortCriterionLabel = "author (Z-A) "') Author (Z-A)

        br
        br
        br
        uib-tabset.color-blue(justified="true")
          uib-tab(ng-repeat="state in vm.states", heading="{{state.value}}", active="state.active")
            br
            div.nav.nav-stacked(ng-show="0 == (vm.awesomeIdeas | filter: { state: state.value }).length")
              .align-center
                b There isn't any idea {{state.value.toLowerCase()}}.


            div.nav.nav-tabs.nav-stacked.padding8(ng-class="{'greenBackground': vm.allowedToRate(idea)}", ng-repeat="idea in vm.awesomeIdeas | filter: { state: state.value } | orderBy:[vm.getFirstSortCriterion, vm.getSecondSortCriterion, vm.getThirdSortCriterion]:vm.sortReverse")

              include ideaRow.jade

              .row
                .col-md-10
                  div(ng-click="vm.toggle(idea)" ng-bind-html="idea.description | descLimit : idea.expanded | linky:'_blank'")

                .col-md-2
                  button.close(ng-show='vm.allowedToDelete(idea)', type='button', ng-click='vm.deleteIdea(idea.title, idea)')
                    span(class="glyphicon glyphicon-trash" aria-hidden="true")
                  button.close(ng-show='idea.state!=vm.states[3].value && idea.state!=vm.states[4].value', type='button', ng-click='vm.openUpdateStateModal(vm.states[4].value, idea)', ng-disabled="!vm.isLoggedIn()")
                    span(class="glyphicon glyphicon-remove" aria-hidden="true")
                  button.close(ng-show='idea.state==vm.states[0].value', type='button', ng-click='vm.openUpdateStateModal(vm.states[1].value, idea)', ng-disabled="!vm.isLoggedIn()")
                    span(class="glyphicon glyphicon-ok" aria-hidden="true")
                  button.close(ng-show='idea.state==vm.states[1].value', type='button', ng-click='vm.openUpdateStateModal(vm.states[2].value, idea)', ng-disabled="!vm.isLoggedIn()")
                    span(class="glyphicon glyphicon-play-circle" aria-hidden="true")
                  button.close(ng-show='idea.state==vm.states[2].value', type='button', ng-click='vm.openUpdateStateModal(vm.states[3].value, idea)', ng-disabled="!vm.isLoggedIn()")
                    span(class="glyphicon glyphicon-check" aria-hidden="true")

      div(us-spinner="{scale:0.5, radius:30, width:9, length:16, top:'35%', speed:1.5, color:'#428bca'}" spinner-key="spinner-ideasLoading" spinner-start-active="true")


    .col-lg-2



script(type="text/ng-template" id="updateStateModal" ng-controller='IdeaCtrl as vm')
  div.modal-header
    h3.modal-title Change the status of this idea to {{vm.nextState.toLowerCase()}}?

  div.modal-body.color-blue

    include ideaRow.jade

    .row
      .col-md-10
        | {{idea.description}}

  div.modal-footer
    button.btn.btn-primary(type="button" ng-click="vm.modalInstance.close()") OK
    button.btn.btn-warning(type="button" ng-click="vm.modalInstance.dismiss()") Cancel
