div(ng-include='"components/navbar/navbar.html"')

.container
  .row
    .col-lg-2
    .col-lg-8
      form.thing-form
        label Share your ideas in realtime with your team
        .form-group
          input.form-control(type='text', placeholder='Add the title here.', ng-model='idea.title', required='')
        .form-group
          textarea.form-control(type='textarea', placeholder='Add the description here.', ng-model='idea.description', required='')

          //span.input-group-btn
        div
          button.btn.btn-primary(type='submit', ng-click='addIdea()') Add New Idea

      h1.page-header Ideas Backlog
      ul.nav.nav-tabs.nav-stacked(ng-repeat="idea in awesomeIdeas | orderBy:'-_id'")
        li
          a
            .row
              .col-md-7
                b {{idea.name}}
              .col-md-2
                | {{idea.author.username}}
              .col-md-3(align="right")
                rating(ng-model="idea.rating", max="5", on-leave='addRating(idea)')
                b (Rate: {{idea.rating}})


            button.close(type='button', ng-click='deleteIdea(idea)') ×
            .row
              .col-md-10
                i {{idea.description}}


    .col-lg-2
footer.footer
  .container
    p
      | Teamtool V0.1
      = ' | '
      a(href='https://github.com/Teamtool/teamtool-mean.git') Github
      = ' | '
      a(href='https://github.com/Teamtool/teamtool-mean/issues') Issues
