.glyphicon-star, .glyphicon-star-empty {
  color:orange;
}

.greenBackground {
  background-color:#DBF7D6;
}

.align-center {
  text-align: center;
}

.updateStateModal .modal-dialog {
  width: 750px;
}

.right {
  float: right;
}

.color-blue {
  color: #428bca;
}

.padding8 {
  padding: 8px;
}
