div(ng-include='"components/navbar/navbar.html"')

.container
  .row
    .col-lg-2
    .col-lg-8
      form.thing-form
        label Share your ideas in realtime with your team
        .form-group
          input.form-control(type='text', placeholder='Add the title here.', ng-model='title', required='')
        .form-group
          textarea.form-control(type='textarea', placeholder='Add the description here.', ng-model='description', required='')

          //span.input-group-btn
        div
          button.btn.btn-primary(type='submit', ng-click='addIdea()') Add New Idea

      h1.page-header Ideas Backlog
      ul.nav.nav-tabs.nav-stacked(ng-repeat="idea in awesomeIdeas | orderBy:'-_id'")
        li
          a
            b {{idea.name}}
            button.close(type='button', ng-click='deleteIdea(idea)') ×
            p {{idea.description}}

    .col-lg-2
footer.footer
  .container
    p
      | Teamtool V0.1
      = ' | '
      a(href='https://github.com/Teamtool/teamtool-mean.git') Github
      = ' | '
      a(href='https://github.com/Teamtool/teamtool-mean/issues') Issues
