div(ng-include='"components/navbar/navbar.html"')
footer.footer
  .container
    p
      | Teamtool V0.1
      = ' | '
      a(href='https://github.com/Teamtool/teamtool-mean.git') Github
      = ' | '
      a(href='https://github.com/Teamtool/teamtool-mean/issues') Issues
