
div(ng-controller='TrainingCardsCtrl as tcc')
  .container
    .row
      .col-lg-2
      .col-lg-8
        form.thing-form
          label New Training Card
          p.input-group
            input.form-control(type='text', placeholder='Training card title here.', ng-model='tcc.new_training_card.title')
            span.input-group-btn
              button.btn.btn-primary(type='submit', ng-click='tcc.addTrainingCard()') Add New
        h1.page-header Training Cards
        ul.nav.nav-tabs.nav-stacked(ng-repeat='card in tcc.training_cards')
          li
            .row
              .col-md-10
                h4 {{card.title}}

              .col-md-2
                button.close(type='button', ng-click='tcc.deleteTrainingCard(card)')
                  span(class="glyphicon glyphicon-trash" aria-hidden="true")
            br

      .col-lg-2
